#background{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(50,50,50);
    font-family: 'Roboto';
}
#title_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    color: white;
    border: dashed white 2px;
    text-align: center;
    padding: 10px;
    border-radius: 1px;
    margin:0;
}
#title_container p{
    border:solid white 1px;
    padding:5px;
    line-height: 25px;
}
#enter{
    background-color: rgb(48, 151, 72);
    width: auto;
    position: relative;
    font-size: 3rem;
    padding-top:5px;
    padding-bottom: 5px;
}
#enter:hover{
    cursor: pointer;   
    background-color: rgb(71, 216, 105); 
}